{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1 class="my-4">Ecrire un ticket et une critique</h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h2 class="my-4">Ticket</h2>
  {{ ticket_form|crispy }}
  <hr>
  <h2 class="my-4">Critique</h2>
  {{ review_form|crispy }}
  <a class="btn btn-primary my-4" href="{% url 'self-feed' %}">Retour</a>
    <button type="submit" class="btn btn-primary my-4">Publier</button>
</form>

{% endblock content %}