{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1 class="my-4">Modifier le ticket</h1>

<form method="post" enctype="multipart/form-data">
    {{ edit_form|crispy }}
    {% csrf_token %}
    <a class="btn btn-primary my-4" href="{% url 'self-feed' %}">Retour</a>
    <button type="submit" class="btn btn-primary my-4">Modifier</button>
</form>

<hr>

<h1 class="my-4">Supprimer le ticket ?</h1>

<form method="post">
    {{ delete_form|crispy }}
    {% csrf_token %}
    <a class="btn btn-primary my-4" href="{% url 'self-feed' %}">Retour</a>
    <button type="submit" class="btn btn-primary my-4">Supprimer</button>
</form>

{% endblock content %}