{% extends 'base.html' %}
{% load feed_extras %}

{% block title %}Fil d'actualité{% endblock title %}

{% block content %}

{% include 'feed/partials/creation_buttons.html' %}

{% for instance in page_obj %}

{% comment %} <li>
    {{ ticket.title }}
     - <a href="{% url 'update-ticket' ticket.id %}">[modifier]</a>
     - <a href="{% url 'create-review' ticket.id %}">[Proposer une critique]</a>
</li>
{% if ticket.image %}
    <img src={{ ticket.image.url }}>
{% endif %} {% endcomment %}
    {% if instance|model_type == 'Ticket' %}
        {% include 'tickets/partials/ticket_snippet.html' with ticket=instance logged_user=logged_user %}
        {% comment %} <li>
            {{ instance.title }}
             - <a href="{% url 'update-ticket' instance.id %}">[modifier]</a>
             - <a href="{% url 'create-review' instance.id %}">[Proposer une critique]</a>
        </li>
        {% if instance.image %}
            <img src={{ instance.image.url }}>
        {% endif %} {% endcomment %}
    {% elif instance|model_type == 'Review' %}
        {% comment %} <li>
            {{ instance.headline }} - {{ instance.rating }} - {{ instance.body }}
        </li> {% endcomment %}
        {% include 'reviews/partials/review_snippet.html' with review=instance logged_user=logged_user%}
    {% endif %}

{% endfor %}

{% include 'feed/partials/page_navigator.html' %}

{% endblock %}