<html>
    <head>
        <title>LITReview</title>
    </head>
    <body>
        <h1>LITReview</h1>

        {% block content %}{% endblock content %}

        <ul>
            <li><a href="{% url 'password_change' %}">Changer le mot de passe</a></li>
            <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
            <li><a href="{% url 'create-ticket' %}">Créer un ticket</a></li>
            <li><a href="{% url 'create-review-ticket' %}">Ecrire un ticket et sa critique</a></li>
            <li><a href="{% url 'follow-users' %}">Suivre des utilisateurs</a></li>
        </ul>

    </body>
</html>
