<div class="row gy-4 align-items-center">
    <div class="col-6 text-center">
        <a href="{% url 'create-ticket' %}" class="btn btn-primary mt-5 w-100">Demander une critique</a>
    {% comment %} <h1 class="fw-bold">Je suis <b class="fw-bold">John Doe</b> Développeur et Designer Web</h1>
    <h2 class="fw-light">Bienvenue dans mon univers créatif</h2>
    <a href="#expertise" class="btn btn-primary mt-5">Mon expertise web</a> {% endcomment %}
    </div>
    <div class="col-6 text-center">
        <a href="{% url 'create-review-ticket' %}" class="btn btn-primary mt-5 w-100">Créer une critique</a>
    </div>
</div>
