{% comment %} 
<span>
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; première</a>
        <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
    {% endif %}

<span>
        Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
    </span>

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">suivante</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">dernière &raquo;</a>
{% endif %}
</span>
{% endcomment %}

<div class="d-flex justify-content-center align-items-center">
    {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-primary me-2 mb-4">&laquo; Première page</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary me-4 mb-4">Page précédente</a>
    {% endif %}

    <span class="text-center mb-4">
        Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary ms-4 mb-4">Page suivante</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary ms-2 mb-4">Dernière page &raquo;</a>
    {% endif %}
</div>
