{% load feed_extras %}
{% comment %} <div class="ticket">
        <h4>Ticket : {{ ticket.title }}</h4>
        {% if ticket.image %}
            <img src={{ ticket.image.url }}>
        {% endif %}
        <p><strong>Demandé par {{ ticket.user }}</strong></p>
        <p>{{ ticket.time_created|get_posted_at_display }}</p>
</div> {% endcomment %}


<div class="card text-center my-3">
    <div class="card-header">
        Ticket de {% get_poster_display ticket.user %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ ticket.title }}</h5>
        <p class="card-text">{{ ticket.description }}</p>
        {% if ticket.image %}
        <div class="text-center">
            <img src={{ ticket.image.url }} alt="illustration pour {{ ticket.title }}">
        </div>
        {% endif %}
    </div>
    <div class="card-footer text-muted">
        {{ ticket.time_created|get_posted_at_display }}
    </div>
</div>
