{% load feed_extras %}

<div class="card text-center my-5">
    <div class="card-header">
        Ticket de {% get_poster_display ticket.user %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ ticket.title }}</h5>
        <p class="card-text">{{ ticket.description }}</p>
        {% if ticket.user == logged_user %}
            <a href="{% url 'update-ticket' instance.id %}" class="btn btn-primary">Modifier</a>
        {% endif %}
        {% if not ticket.has_been_reviewed %}
            <a href="{% url 'create-review' instance.id %}" class="btn btn-primary">Proposer une critique</a><br>
        {% endif %}
        {% if ticket.image %}
        <div class="text-center">
            <img src={{ ticket.image.url }} class="mt-2">
        </div>
        {% endif %}
    </div>
    <div class="card-footer text-muted">
        {{ ticket.time_created|get_posted_at_display }}
    </div>
</div>